<?xml-version="1" ?>
<launch>

<include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

<!-- Use the following line for OpenNI2 based Skeleton tracker(ASUS sensor)-->
<!--
<include file="$(find skeleton_tracker)/launch/tracker.launch" output="screen"/>
-->

<!-- Use the following node for OpenNI1 tracker (Kinect Xbox 360)-->
<include file="$(find turtlebot_follower)/launch/follower.launch">
<node pkg="openni_tracker" type="openni_tracker" name="openni_tracker"/>



</launch>
