<?xml-version="1" ?>

<launch>

<node name="activity_visualise" pkg="activity_visualise" type="activity_visualise"  />

<!-- Following script is used for predicting activity from openni_tracker node-->
<node name="predict" pkg="activity_predict" type="predict.py"  output="screen"/>

<!-- Skeleton tracker package publishes tf to different topic_prefix. use the following line when using skeleton_tracker instead of openni_tracker -->
<!--
<node name="predict" pkg="activity_predict" type="predict2.py"  output="screen"/>
-->

</launch>
